<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="Enviroment" value="QA"/>
    <add key="Browser" value="FireFox"/>
    
    <add key="AlexPetsURL.QA" value="http://nitro.duckdns.org/Pets.QA/index.html"/>
    <add key="AlexPetsURL.PROD" value="http://nitro.duckdns.org/Pets/index.html"/>
    
  </appSettings>
</configuration>